* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #68B8CA;
}

.App-night {
  background-color: #5E5F76;
}

main {
  min-height: 90vh;
  width: 300px;
  border-radius: 0px;
  background-image: url('./assets/morning.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
  box-shadow: 0 19px 38px rgba(0,0,0,.3), 0 15px 12px rgba(0,0,0,.22);
}

@media (max-width: 400px) {
  main {
    width: 100%;
    height: 100%;
  }
}

.night {
  background-image: url('./assets/night.jpg');
}

.search-box {
  padding: 17px;
}

.search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #101319;
  color: white;
}

.location-box {
  padding: 10px;
  text-align: center;
  color: #101319;
}

.location {
  font-size: 30px;
  font-weight: bold;
}

.date {
  font-weight: 500;
}

.temp {
  margin-top: 50px;
  text-align: center;
  color: #101319;
  font-size: 50px;
  font-weight: bold;
}

.weather {
  text-align: center;
  color: #101319;
  font-weight: bold;
}

.info {
  margin-top: 130px;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

.info-value {
  display: flex;
  align-items: center;
  color: #101319;
}

.info-value svg{
  width: 50px;
}

.hint {
  text-align: center;
  color: #101319;
}